{% extends "base.html" %}

{% block title %}Vehicles - CARVIX{% endblock %}

{% block content %}
<h1 class="page-title">Your Vehicles</h1>

<p class="action-links"><a class="button" href="{% url 'vehicles:vehicle-create' %}">Add Vehicle</a></p>

{% if vehicles %}
    <ul class="list-grid">
        {% for vehicle in vehicles %}
            <li>
                <a href="{% url 'vehicles:vehicle-detail' vehicle.pk %}">
                    {{ vehicle.manufacturer }} {{ vehicle.model }} ({{ vehicle.license_plate }})
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="empty-state">You have not added any vehicles yet.</p>
{% endif %}
{% endblock %}
