{% extends "base.html" %}

{% block title %}{{ vehicle.license_plate }} - CARVIX{% endblock %}

{% block content %}
<h1>{{ vehicle.manufacturer }} {{ vehicle.model }}</h1>

<dl>
    <dt>Model year</dt>
    <dd>{{ vehicle.model_year }}</dd>
    <dt>License plate</dt>
    <dd>{{ vehicle.license_plate }}</dd>
    <dt>Current mileage</dt>
    <dd>{{ vehicle.current_mileage }}</dd>
</dl>

<p><a href="{% url 'vehicles:vehicle-update' vehicle.pk %}">Update Vehicle</a></p>
<p><a href="{% url 'vehicles:vehicle-list' %}">Back to Vehicles</a></p>
{% endblock %}
